<% layout("layouts/boilerplate") %>
<body>
    <div class="listing-details-wrapper">
        <h4><%= listing.title %></h4>
        <div style="display: flex; justify-content: center; align-items: center;">
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 0.5rem; margin-bottom: 1rem;">
                <img src="<%= listing.image %>" alt="Listing Image">
            </div>
            <ul>
                <li><%= listing.description %></li>
                <li>₹ <%= listing.price.toLocaleString("en-IN") %>/night</li>
                <li><%= listing.location %>, <%= listing.country %></li>
            </ul>
        </div>
        <div style="display: flex;">
            <a href="/listings/<%= listing._id %>/edit"><button style="border: none; outline: none; background-color: rgb(0, 0, 0); color: #fff; padding: 6px 10px; border-radius: 10px; text-decoration: none;">Edit</button></a>
            &nbsp;&nbsp;
            <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
                <button style="border: none; outline: none; background-color: rgb(255, 0, 0); color: #fff; padding: 6px 10px; border-radius: 10px; text-decoration: none;">Delete</button>
            </form>
            &nbsp;&nbsp;
            <form method="get" action="/listings/">
                <button style="border: none; outline: none; background-color: rgb(0, 0, 0); color: #fff; padding: 6px 10px; border-radius: 10px; text-decoration: none;">Back</button>
            </form>
        </div>
        <div class="reviews-wrapper">
            <div class="reviews-input">
                <h4 style="margin-bottom: 1rem;">Leave a review!</h4>
                <form method="post" action="/listings/<%= listing._id %>/reviews" novalidate class="needs-validation">
                    <div style="display: flex; gap: 10px; align-items: center; margin-bottom: 1rem;">
                        <label for="rating" class="form-label">Rating</label>
                        <input type="range" class="form-range" id="rating" name="review[rating]" min="1" max="5" >
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Comments</span>
                        <textarea class="form-control" name="review[comment]" aria-label="With textarea" required ></textarea>
                        <div class="invalid-feedback">Please add some comments for review</div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-outline-dark">Submit</button>
                </form>
            </div>
            
            
            <div class="all-reviews-wrapper">
                <h4 style="margin: 2rem 0 1rem 0;">All Reviews</h4>
                <div class="all-reviews">
                    <% if(!listing.reviews.length) { %>
                        <h6>No reviews posted yet!</h6>
                    <% } %>
                    <% for(let review of listing.reviews) { %>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">John Doe</h5>
                                <p class="card-text"><%= review.rating %> stars</p>
                                <p class="card-text"><%= review.comment %></p>
                            </div>
                            <form method="post" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                <button class="btn btn-dark m-2">Delete</button>
                            </form>
                          </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</body>